<launch>

<rosparam file="$(find braccio3_urdf_description)/launch/joint_controller_nr.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="braccio3_urdf" args="arm_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/braccio3_urdf/joint_states"/>
</node>

</launch>