<launch>

<rosparam file="$(find braccio_urdf_description)/launch/test_controller.yaml" command="load"/>
<!-- Devo aggiungere anche la descrizione del robot, prima lo facevamo in gazebo.launch che adesso non viene più runnato-->
<param command="$(find xacro)/xacro $(find braccio_urdf_description)/urdf/braccio_urdf.xacro" name="robot_description"/>
<!-- <node args="arm_controller joint_state_controller " name="controller_spawner" ns="braccio_urdf" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>-->
<node args="joint_state_controller arm_controller" name="controller_spawner" ns="braccio_urdf" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<!--<node args="joint_state_controller arm_controller" name="controller_spawner" ns="/" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>-->
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/braccio_urdf/joint_states"/>
</node>

</launch>